version: "3.7"
services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    command: npm run start:dev --prefix ./api
    # THIS BIT!!!1!
    user: ${CURRENT_UID}
    volumes:
      - .:/api
      - /api/node_modules
    ports:
      - 3000:3000
    environment:
      - NODE_ENV=development
    depends_on:
      - db

  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    command: npm start --prefix app
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "4200:4200"
    depends_on:
      - api

  db:
    image: postgres:11.5-alpine
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgresql/data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
